@use "./ProjectsVars";
@use '../../mainVars' as main;

.Projects {
  //Colors, Fonts, Borders
  background-color: rgba(2, 2, 2, 0.7);
  color: white;
  //Display
  //Diamensions
  width: 100vw;
  height: 100vh;
  //Position
  //Margin, Padding
  padding-top: 2rem;
  //Transition, Animation
  h2 {
    text-align: center;
    font-size: 1.6rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  ul > li,
  ul > li a,
  ul > li a:visited {
    text-align: center;
    font-size: 1.4rem;
    color: inherit;
  }

  ul > li {
    width: 80%;
    max-width: 400px;
    display: inline-block;
    border: 1px solid rgb(151, 206, 231);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  @include main.tablet {
    padding-top: 3rem;
  }
}

.InfoCircle {
  //Colors, Fonts, Borders
  font-size: 1.2rem;
  background-color: main.$pri_cta_bg_col;
  border-radius: 50%;
  //Display
  //Diamensions
  //Position
  position: relative;
  //Margin, Padding
  //Transition, Animation
}

.InfoCircle:hover::after {
  //Colors, Fonts, Borders
  background-color: rgb(112, 165, 226);
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
  font-size: 1.2rem;
  //Display
  content: attr(data-after);
  text-align: center;
  //Diamensions
  width: 200px;
  //Position
  position: absolute;
  right: 50%;
  top: 100%;
  //Margin, Padding
  padding: 0.8rem 0.4rem;
  //Transition, Animation
}
