@use "./AboutVars";

.About {
  //Colors, Fonts, Borders
  background-color: rgba(2, 2, 2, 0.7);
  color: white;
  // background-color: rgb(241, 236, 227);
  //Display
  //Diamensions
  width: 100vw;
  height: 100vh;
  //Position
  //Margin, Padding
}
