@use "./NavigationVars" as nav;

.Navigation {
  //Colors, Fonts, Borders
  color: #ffffff;
  // border: 1px solid red;
  //Display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2;
  //Diamensions
  width: 100%;

  //Position
  position: fixed;
  bottom: 0;
  //Margin, Padding
}

.Navigation a {
  color: inherit;
}

.NavMenu {
  //Colors, Fonts, Borders
  //Display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //Diamensions
  width: 100%;
  //Position
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
  //Margin, Padding
  //Transition, Animation
  transition: all 0.4s ease;
}

.Navigation .BurgerButton {
  //Colors, Fonts, Borders

  //Display
  //Diamensions
  //Position
  //Margin, Padding
}

.BurgerButton:hover + .NavMenu {
  z-index: 3;
  transform: translateY(0);
  background-color: nav.$menu-bgc;
}
