@use "./HomeVars" as home;
@use '../../mainVars' as main;
.Home {
  //Colors, Fonts, Borders
  color: white;
  background: home.$grad;
  background-image: linear-gradient(home.$grad, home.$grad), url("~Images/computer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  //Display
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  //Diamensions
  width: 100vw;
  height: 100vh;
  //Position
  position: relative;
  //Margin, Padding
}

.Header {
  margin-top: 3rem;
  h1,
  h2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    @include main.tablet {
      justify-self: center;
    }
  }

  @include main.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.HeaderPic {
  //Colors, Fonts, Borders
  background-color: rgba(161, 156, 160, 0.8);
  border-radius: 50%;
  //Display
  opacity: 0.8;
  //Diamensions
  width: 18vh;
  height: 24vh;
  max-width: 240px;
  max-height: 320px;
  //Position
  //Margin, Padding
  margin-bottom: 1rem;
  //Transition, Animation
  @include main.tablet {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    justify-self: center;
  }
}

.ctaHomePri {
  display: inline-block;
  position: relative;
  padding: 1rem;
  margin-top: 4rem;
  border-radius: 10px;
}

.ctaHomePri,
.ctaHomePri:link,
.ctaHomePri:hover,
.ctaHomePri:visited {
  background-color: main.$pri_cta_bg_col;
  color: main.$pri_cta_txt_col;
  font-size: 2rem;
  // border: 2px solid main.$pri_bg_col;
  text-decoration: none;
}

.ctaHomeSec {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 2rem;
  border-radius: 10%;
  @include main.tablet {
    width: 50%;
    justify-self: center;
  }
}

.ctaHomeSec,
.ctaHomeSec:link,
.ctaHomeSec:hover,
.ctaHomeSec:visited {
  background-color: main.$sec_cta_bg_col;
  color: main.$sec_cta_txt_col;
  text-decoration: none;
}
