@use "./ContactVars";
@use '../../mainVars' as main;
.Contact {
  //Colors, Fonts, Borders
  color: white;
  background-color: rgba(2, 2, 2, 0.7);
  //Display
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //Diamensions
  width: 100vw;
  height: 100vh;
  //Position
  //Margin, Padding
  padding-top: 1rem;
  //Transition, Animation
  h2 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  form {
    width: 80%;
    max-width: 450px;
  }

  label,
  input,
  textarea {
    display: block;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100%;
  }
  label,
  input {
    height: 2rem;
    font-size: 1.4rem;
  }
  label {
    position: relative;
  }

  label::after {
    content: "*Required";
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1rem;
    color: rgb(236, 95, 217);
  }

  @include main.tablet {
    padding-top: 4rem;
  }
}

.Submit {
  //Colors, Fonts, Borders
  font-size: 1.5rem;
  //Display
  //Diamensions
  //Position
  //Margin, Padding
  margin-top: 1rem;
  padding: 2rem;
  //Transition, Animation

  @include main.tablet {
    font-size: 1.7rem;
  }
}
