@use "./ContactVars";
@use '../../mainVars' as main;
.Contact {
  //Colors, Fonts, Borders
  color: white;
  background-color: rgba(2, 2, 2, 0.7);
  //Display
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //Diamensions
  //Position
  //Margin, Padding
  padding-top: 1rem;
  padding-bottom: 1rem;
  //Transition, Animation
  h2 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  form {
    width: 80%;
    max-width: 450px;
  }

  label,
  input,
  textarea {
    display: block;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100%;
  }
  label,
  input {
    height: 2rem;
    font-size: 1.4rem;
  }
  label {
    position: relative;
  }

  label::after {
    content: "(Required)";
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1rem;
    color: rgb(236, 95, 217);
  }

  img {
    background-color: inherit;
  }

  .fas-cont {
    background-color: main.$pri_bg_col;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 1.2rem;
  }

  .fas {
    font-size: 4rem;
  }

  .fa-spinner {
    animation: spin 0.8s infinite;
  }

  .fa-check {
    color: green;
  }
  .fa-times {
    color: red;
    padding: 0.1rem 0.6rem;
  }

  @include main.tablet {
    padding-top: 4rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(36deg);
  }
  10% {
    transform: rotate(72deg);
  }
  20% {
    transform: rotate(108deg);
  }
  30% {
    transform: rotate(144deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(216deg);
  }
  60% {
    transform: rotate(252deg);
  }
  70% {
    transform: rotate(288deg);
  }
  80% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Submit {
  //Colors, Fonts, Borders
  font-size: 1.5rem;
  //Display
  //Diamensions
  //Position
  //Margin, Padding
  margin-top: 1rem;
  padding: 1.5rem;
  //Transition, Animation

  @include main.tablet {
    font-size: 1.7rem;
    border-radius: 15px;
  }
}
