$tabletMin: 430px;

@mixin tablet {
  @media only screen and (min-width: #{$tabletMin}) {
    @content;
  }
}

$pri_bg_col: hsl(286, 72%, 45%);
$pri_txt_col: white;
$pri_cta_txt_col: white;
$pri_cta_bg_col: rgb(50, 111, 202);

$sec_cta_txt_col: rgb(211, 205, 205);
$sec_cta_bg_col: rgb(70, 133, 228);

// ANCHOR TAG
$pri_link_col: rgb(24, 24, 231);
$pri_link_col_active: rgb(226, 223, 223);
$pri_link_col_visited: rgb(175, 37, 175);

// BUTTON

$def_btn_bgc: $pri_bg_col;
$def_btn_bgc_hover: $pri_bg_col;
$def_btn_pad: 4px;
$def_btn_rad: 4px;
