@use './mainVars' as main;
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid rgb(74, 250, 5);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  font-size: 1.2rem;
  color: main.$pri_link_col;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
}

a:link {
  color: main.$pri_link_col;
}
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: main.$pri_link_col_active;
}
a:visited {
  color: main.$pri_link_col_visited;
}

button {
  background-color: main.$def_btn_bgc;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: main.$def_btn_pad;
  border-radius: main.$def_btn_rad;
}
button:hover {
  background-color: main.$def_btn_bgc_hover;
}

button:active {
  background-color: main.$pri_bg_col;
}
